azure-datafactory/SSIS-IR/Stop SSIS-IR.json
{
    "name": "Stop SSIS-IR",
    "properties": {
        "activities": [
            {
                "name": "Lookup Active Packages",
                "type": "Lookup",
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": ";WITH ActiveWorkers as (\nSELECT \n   WorkerAgentId\nFROM catalog.worker_agents\nWHERE LastOnlineTime >= DATEADD(MINUTE, -1, GETDATE())\n)\nSELECT \n    COUNT(*) as ActivePackages,\n    (Select COUNT(*) FROM ActiveWorkers) as ActiveWorkersCount\nFROM catalog.executions\nWHERE status IN (1,2,5);"
                    },
                    "dataset": {
                        "referenceName": "ds_SqlDatabase",
                        "type": "DatasetReference"
                    }
                }
            },
            {
                "name": "If status",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Lookup Active Packages",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "expression": {
                        "value": "@and(or(equals(\nactivity('Lookup Active Packages').output.FirstRow.ActivePackages, 0),\npipeline().parameters.ForceStop), greater(activity('Lookup Active Packages').output.FirstRow.ActiveWorkersCount, 0))",
                        "type": "Expression"
                    },
                    "ifFalseActivities": [
                        {
                            "name": "No action made - exiting",
                            "type": "Wait",
                            "typeProperties": {
                                "waitTimeInSeconds": 1
                            }
                        }
                    ],
                    "ifTrueActivities": [
                        {
                            "name": "API - Stop SSIS-IR",
                            "type": "WebActivity",
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 1,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "url": "https://management.azure.com/subscriptions/{SubscriptionId}/resourcegroups/{ResourceGroup}/providers/Microsoft.DataFactory/factories/{DataFactoryName}/integrationruntimes/{SSISIRName}/stop?api-version=2018-06-01",
                                "method": "POST",
                                "body": {
                                    "message": "Stop my IR"
                                },
                                "authentication": {
                                    "type": "MSI",
                                    "resource": "https://management.azure.com"
                                }
                            }
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "ForceStop": {
                "type": "bool",
                "defaultValue": false
            }
        },
        "folder": {
            "name": "Resource Management"
        }
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}
